@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h2>Programmieren lernen mit Hiburan</h2>
        <p class="mt-md-4">
            Die Digitalisierung gewinnt an mehr Lebhaftigkeit
            und täglich entstehen zahlreiche technologische Innovationen. Jeden Tag benutzen wir Computer, Laptops, ipads, Tablets oder Smartphones, die uns
            das Leben erleichtern und neue Möglichkeiten schaffen. Bei all diesen Geräten ist jeder digitale Prozess bestimmt von einer Software, die Programmierer entwickelt haben.
            Erst die Sprache der Maschinen erweckt den Computer zum Leben und sagt ihm, was seine Aufgaben sind.
            Wir haben Hiburan, entwickelt um der jungen Generation das Programmieren beizubringen.
            Das Ganze soll spielerisch erfolgen, damit der Einstieg in die Programmierwelt leicht fällt und die junge Generation Spaß am implementieren entwickelt.
        </p>
        <ul>
            <li>Lernen Sie Webentwicklung mit einem interaktiven Quiz</li>
            <li>Werden Sie jetzt zu einem gefragten Web-Entwickler</li>
        </ul>
    </div>
</div>
