@page
@model DisplayQuizModel
@{
    ViewData["Title"] = "Quiz";
}

<h2>@ViewData["Title"] - @Model.QuizProgress.Quiz.Title</h2>


<p>
    @await Component.InvokeAsync("Quiz", Model.QuizProgress.Quiz.Questions[Model.QuizProgress.Position])
</p>