@page
@model DisplayQuizModel
@{
    ViewData["Title"] = "Quiz";
}

<h2>@ViewData["Title"] - @Model.QuizProgress.Quiz.Title</h2>


<p>
    <vc:Quiz question="@Model.QuizProgress.Quiz.Questions[Model.QuizProgress.Position]"></vc:Quiz>
</p>