@page
@model IndexModel
@{
    ViewData["Title"] = "Programmieren lernen mit Quizspiele";
}

<h2>@ViewData["Title"]</h2>

<div class="row mt-lg-4">
    <div class="col-md">
        <div class="card">
            <img class="card-img-top" src="/images/Quiz/quizanfänger.jpg" alt="Anfänger">
            <div class="card-body">
                <h5 class="card-title">Für Anfänger</h5>
                <p class="card-text">
                    Wenn du neu im Programmiergebiet bist, dann ist unser Anfänger Quiz für dich geeignet.
                    Im Anfänger-Quiz werden Fragen zu HTML-Grundlagen gestellt.
                </p>
                <br />
                <a href="#" class="btn btn-primary">Anfänger-Quiz</a>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="card">
            <img class="card-img-top" src="/images/Quiz/quizfortgeschritten.jpg" alt="Fortgeschrittene">
            <div class="card-body">
                <h5 class="card-title">Für Fortgeschrittene</h5>
                <p class="card-text">
                    Wenn du dich etwas eingearbeitet hast und sicher fühlst, dann ist unser Quiz für Fortgeschrittene für dich ideal.
                    Im Fortgeschrittenen-Quiz werden Fragen zu HTML und CSS gestellt.
                </p>
                <a href="#" class="btn btn-primary">Fortgeschrittenen-Quiz</a>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="card">
            <img class="card-img-top" src="/images/Quiz/quizprofi.jpg" alt="Profi">
            <div class="card-body">
                <h5 class="card-title">Für Anfänger</h5>
                <p class="card-text">
                    Wenn du dich sicher in der Programmierwelt fühlst, dann eignet sich unser Quiz für Profis für dich.
                    Im Profi-Quiz werden Fragen zu JavaScript und PHP gestellt.
                </p>
                <a href="#" class="btn btn-primary">Profi-Quiz</a>
            </div>
        </div>
    </div>
</div>
